body {
  background-color: #fefae0;
  color: #d4a373;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.App {
  text-align: flex;
}
h1 {
  background-color: #e9edc9;
  color: #d4a373;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
.container {
  display: inline-flex;
  padding: 1rem;
  /* justify-content: space-evenly; */
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
li {
  padding: 0.4rem 0;
  border: #9c7753;
}
form {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 35%;
  align-items: flex-start;
}
form button {
  padding: 2% 8%;
}
textarea {
  padding: 0.1rem 0.3rem;
  margin: 0.5rem 0 1.5rem 0;
  background-color: #fefae0;
  border-top-color: #d4a373;
  border-left-color: #d4a373;
  border-bottom-color: #9c7753;
  border-right-color: #9c7753;
  color: #d4a373;
  height: 4.8rem;
  width: 90%;
  border-width: 0.2rem;
  text-align: start;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
button {
  background-color: #d4a373;
  color: #fefae0;
  border-color: #d4a373;
}
textarea:focus {
  background-color: #fefae0;
  outline: none;
  border-bottom-color: #d4a373;
  border-right-color: #d4a373;
  border-top-color: #9c7753;
  border-left-color: #9c7753;
}
.display {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
}
.display h2 {
  padding: 0;
  margin: 2rem 0 0 0;
}
div {
  display: block;
}
